 <p>view-product works!</p>
 <p>view-category works!</p> 

 <table class="table table-danger">
    <thead>
        <tr>
            <th>SNo.</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Discount</th>
            <th>Descritption</th>
            <th>Price</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList; index as SNo">
             <td>{{SNo+1}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productQty}}</td>
            <td>{{product.productDiscount}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.productPrice}}</td>
            <td> <img  width="100px 100px" src={{product.productImageUrl}} alt="loading"> </td>
             
             
             
             
             <!-- <td>{{product.product}}</td> -->
             
            <td> <button class="btn btn-primary" (click)="deleteProductHtml(product._id,SNo)">Delete</button></td>
            <!-- <td> <button class="btn btn-danger" (click)="EditProduct(product._id,product.productName)">Edit </button></td> -->
        
        </tr>
    </tbody>
</table> 
